# Dependencies
node_modules
.pnp
.pnp.js

# Production
/out
/build
/dist

# Next.js
/.next
.next

# Testing
/coverage

# Misc
.DS_Store
*.log
*.tgz

# Environment files
.env
.env*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Cache
.turbo
.eslintcache
